/* div.ornament-marker-container {
  border: 1px solid red;
} */

div.ornament-marker-container > div#wrapper {
  width: 100%;
  height: 100%;
}

div.ornament-marker-container div#ornament {
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 50%;
  background: white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
  position: relative;
  overflow: hidden;
  z-index: 0;
}

div.ornament-marker-container div#ornament::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 50%;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 2;
}

div.ornament-marker-container div#ornament::after {
  content: " ";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 2;
}

div.ornament-marker-container div#ornament > div#accent {
  position: absolute;
  top: calc(50% - 12px);
  width: 100%;
  height: 24px;
  z-index: 1;
}

div.ornament-marker-container div#hook {
  position: absolute;
  top: -3px;
  left: calc(50% - 5px);
  background: gold;
  width: 10px;
  height: 5px;
  z-index: 1;
}

/* div.ornament-marker-container div#hook::after {
  content: "";
  width: 1px;
  height: 5px;
  background: red;
  position: absolute;
} */

.ornament-icon {
  color: "white";
}

div.ornament-marker-container > img#icon {
  color: red;
}