div.ornament-marker-container > div.wrapper {
  width: 100%;
  height: 100%;
}

div.ornament-marker-container div.ornament {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

div.ornament-marker-container div.ornament::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 1;
}

div.ornament-marker-container div.ornament::after {
  content: " ";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 1;
}

/* Ornament style styles */
div.ornament-marker-container
  > div.wrapper[data-style="solid"]
  > div.ornament
  > div.accent {
  display: none;
}

div.ornament-marker-container
  > div.wrapper[data-style="striped"]
  > div.ornament
  > div.accent {
  position: absolute;
  top: calc(50% - 12px);
  width: 100%;
  height: 24px;
  z-index: 1;
}

div.ornament-marker-container
  > div.wrapper[data-style="zigzag"]
  > div.ornament
  > div.accent {
  position: absolute;
  top: calc(50% - 12px);
  width: 100%;
  height: 24px;
  z-index: 1;
}

div.ornament-marker-container div.hook {
  position: absolute;
  top: -3px;
  left: calc(50% - 5px);
  background: gold;
  width: 10px;
  height: 5px;
  z-index: 9;
}

.ornament-icon {
  color: "white";
}

div.ornament-marker-container > img.icon {
  color: red;
}
